---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post-preview">
      {% if post.image %}
        <div class="post-image-desktop">
          <img src="{{ post.image }}" alt="Image for {{ post.title }}">
        </div>
      {% endif %}

      <div class="post-title">
        <h2>
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </h2>
      </div>

      {% if post.image %}
        <div class="post-image">
          <img src="{{ post.image }}" alt="Image for {{ post.title }}">
        </div>
      {% endif %}

      <div class="post-content">
        <div class="entry">
          {{ post.excerpt }}
        </div>
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">
          Read More
        </a>
      </div>
    </article>
  {% endfor %}
</div>